.container-program {
  display: flex;
  width: 100%;
  height: auto;
}

.menu-program {
  padding-right: 20px;
  position: relative;
}

.menu-program img {
  position: absolute;
  left: 170%;
  top: 0%;
  opacity: 30%;
}

.menu-program ul {
  list-style: none;
}

.menu-program li {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background: #f95b3e;
  cursor: pointer;
}

.discribe-content {
  flex: 1;
  padding-right: 20px;
  background: #def4ff;
  border-radius: 10px;
}

.services-list {
  padding-left: 40px;
}

.services-list ul {
  list-style: none;
}

.services-list li {
  padding-bottom: 5px;
}

.services-list li:first-child {
  padding-top: 10px;
}

.custom-bullet {
  position: relative; 
}

.custom-bullet::before {
  content: '◆'; 
  color: #212ea0;
  font-size: 17px;
  position: absolute;
  left: -20px; 
}

.depliant {
  margin-top: 50px;
  margin-left: 30px;
  background: #212ea0 !important;
  color: #def4ff !important;
  padding: 10px !important;
  font-size: 15px !important;
}

/* responsive design */

@media (max-width: 650px) {
  .container-program {
    flex-direction: column;
  }
  .program {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  
  .depliant {
    margin-left: 0;
    padding: 10px !important;
  }
}

@media (max-width: 800px) {
  .depliant {
    margin-top: 20px;
    font-size: 14px !important;
    margin-bottom: 20px;
  }
  .container-program {
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 1000px) {
  .menu-program img {
    display: none;
  }
}