.container-program {
  display: flex;
  width: 100%;
  height: 35vh;
}
.menu-program {
  width: 30%;
  padding-right:20px;
  position: relative;
}
.menu-program img {
  position: absolute;
  left: 500px;
  top: 50px;
  opacity: 30%;
}
.menu-program ul {
  list-style: none;
}
.menu-program li {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color:white;
  background: #f95b3e;
  cursor: pointer;
}

.discribe-content {
  flex: 1;
  padding-right: 20px;
  background: #def4ff;
  border-radius: 10px;
}
.services-list {
  padding-left: 40px;
}
.services-list ul {
  list-style: none;
  
}
.services-list li {
  padding-bottom: 5px;
  
}
.services-list li:first-child {
  padding-top: 10px;
}

.custom-bullet {
  position: relative; 
}

.custom-bullet::before {
  content: '◆'; 
  color: #212ea0;
  font-size: 17px;
  position: absolute;
  left: -20px; 
}

.depliant {
  margin-top: 50px;
  margin-left: 40px;
  background: #212ea0 !important;
  color: #def4ff !important;
}

/* responsive design */

@media (max-width: 650px) {
  .programs {
    flex-direction: column;
  }
  .program {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}
